@model RentCarViewModel

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay" style="background-image: url('/carbook-master/images/hero_1.jpg')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="feature-car-rent-box-1">
                        <h3>Araç Kirala</h3>
                        <form method="post">
                            <span>Araç</span>
                            @Html.DropDownListFor(x=>x.Car,(List<SelectListItem>)ViewBag.cars,new{@class="form-control"})
                            <hr />
                            <span>Koltuk</span>
                            @Html.DropDownListFor(x=>x.Seat,(List<SelectListItem>)ViewBag.seats,new{@class="form-control"})
                            <hr />
                            <span>Vites</span>
                            @Html.DropDownListFor(x=>x.Transmission,(List<SelectListItem>)ViewBag.transmissions,new{@class="form-control"})
                            <hr />
                            <div class="d-flex align-items-center bg-light p-3">
                                <span>Yıl</span>
                                <input type="text" class="form-control bg-light" asp-for="Year" />
                            </div>
                            <div class="d-flex align-items-center p-3">
                                <a href="/Car/RentCar" class="ml-auto btn btn-primary">Hemen Kirala</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>