
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="site-section bg-light" id="contact-section">
    <div class="container">
        @await Component.InvokeAsync("_ContactHeadViewComponentPartial")

        <div class="row">
            @await Html.PartialAsync("SendMessage")

            @await Component.InvokeAsync("_ContactInfoViewComponentPartial")
        </div>
    </div>
</div>